@using HydraTentacle.Blazor.Core.Views.Base
@typeparam TView
@inherits ComponentBase

@if (View?.Table == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                 @if (View.Table.MetaColumns != null)
                 {
                    @foreach (var col in View.Table.MetaColumns)
                    {
                        <th>@col.Name</th>
                    }
                 }
            </tr>
        </thead>
        <tbody>
            @if (View.Table.Rows != null)
            {
                 @foreach (var row in View.Table.Rows)
                 {
                     <tr>
                         <!-- Render row data -->
                         <td>@row.Id</td> 
                     </tr>
                 }
            }
        </tbody>
    </table>
}

@code {
    [Parameter, EditorRequired]
    public ListViewBase<TView> View { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await View.LoadAsync();
    }
}
