@page "/"
@using Hydra.RazorClassLibrary.Components

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <TentacleCardComponent Title="Requests" 
                                   ImageSource="Contents/Request/request_icon.png" 
                                   TargetUrl="requests" 
                                   ButtonText="Show" />
        </div>
    </div>
</div>

<div class="mt-5">
    <TestComponent Value="hellow"></TestComponent>
</div>