@page "/input-test"
@* @rendermode InteractiveServer *@

<div class="mb-3">
    <input type="text" />
</div>
<div class="mb-3">Entered text: @enteredText</div>

<div style="width: 200px; height: 200px; background: linear-gradient(to right, red 50%, white 50%);" >
</div>


<input type="checkbox"
       @onchange="OnInput2" />

<CheckboxComponent @rendermode="InteractiveServer"></CheckboxComponent>


@code {
    private string? enteredText = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }


    private void OnInput2(ChangeEventArgs e)
    {
        enteredText = e?.Value?.ToString();
    }

}
