@page "/Request/ListView"
@using HydraTentacle.Blazor.Components.ListView
@using HydraTentacle.Blazor.Core.Views.RequestViews
@inject ListViewForRequest View

<h3>Request List</h3>

<ListViewComponent View="@View" />
